*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.postcard {
    background: url(img/fon.jpg) no-repeat center/cover ; 
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;






}

.postcard__content {
    background-color: rgba(60, 255, 0, 0.829);
    max-width: 500px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
padding: 20px;
transition: transform 1s ease-in;
position: relative;
overflow: hidden;

}

.postcard__content:hover{
transform: scale(1.05);


}

.star {
    max-width: 150px;
    animation: starmove 2s infinite;
}

.postcard__title {
    font-size: 36px;
    font-weight: bold;
    color: black;
    animation: changecolor 3s infinite;
}

.postcard__text {
    color: black;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
}

.postcard__btn {
border-radius: 10px;
border: none;
background-color: darkcyan;
animation: fadein 3s;


}



.soldat{
    max-width: 150px;
    position: absolute;
    bottom: 0;
    right: 50px;
}


.samolet{
    max-width: 150px;
    position: absolute;
    top: 10px;
    left: 50px;
}

@keyframes changecolor{

   0%{color: brown;} 

   50%{color: blueviolet;}

100%{color: blue;}










}






@keyframes fadein{
0%{
    opacity: 0;
}

100%{
    opacity: 1;
}



}

@keyframes starmove{


    0%, 100%{
        transform: scale(1);
    }
50%{
    transform: scale(1.2);
}




}







.confetti div {
    width: 10px;
    height: 10px;
    background: orange;
    opacity: 0.6;
    position: absolute;
    animation: confettiFall 3s linear infinite;
}

.confetti div:first-child {
    left: 10%;
}

.confetti div:nth-child(2) {
    background-color: aqua;
    left: 30%;
}

.confetti div:nth-child(3) {
    left: 50%;
    animation-delay: 1s;
    background: #2ecc71;
}

.confetti div:nth-child(4) {
    left: 70%;
    animation-delay: 1.5s;
    background: #3498db;
}

.confetti div:nth-child(5) {
    left: 90%;
    animation-delay: 2s;
    background: #9b59b6;
}

@keyframes confettiFall {
    0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(500px) rotate(720deg);
        opacity: 0;
    }
}